{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{% static "css/registration/login.css" %}"/>
{% endblock %}
{% block body %}
    <nav>
        <a href="{{ url("index") }}" class="brand">
            <span class="logo">
                <i class="fa-solid fa-at"></i>
            </span>
            <span>{{ meta_title }}</span>
        </a>
    </nav>
    <div class="container">
        <div class="google-ads">
            <a href="https://be-safe.kr" class="wrap" target="_blank">
                <img src="{% static "img/ad.png" %}" alt="비세이프"/>
            </a>
        </div>
        <header>
            <h1>로그인</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <div class="submit-row">
                    <button type="submit">이메일로 로그인</button>
                </div>
            </form>
        </header>
    </div>
{% endblock %}
