{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <nav>
        <a href="{{ url("index") }}" class="brand">
            <span class="logo">
                <i class="fa-solid fa-at"></i>
            </span>
            <span>{{ meta_title }}</span>
        </a>
    </nav>
    <div class="container">
        <div class="google-ads">
            <div class="wrap">
                <img src="https://picsum.photos/728/90" alt="광고"/>
            </div>
        </div>
        <header>
            <h1>이메일로 로그인할 수 없음</h1>
            <div>
                <article class="card">
                    <footer>
                        {{ form }}
                        <a href="{{ url("login") }}?next={{ request.GET.get("next", "/") }}" class="button">로그인 다시하기</a>
                    </footer>
                </article>

            </div>
        </header>
    </div>
{% endblock %}
