@import '../../node_modules/picnic/src/themes/default/theme';

.container {
  .profile {
    background-color: #fefefe;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);

    &__img {
      display: block;
      min-width: 20vw;
      min-height: 20vw;
      width: 20vw;
      height: 20vw;
      background-size: cover;
      background-position: center center;

      border-radius: 0.2em;
    }

    .created-at {
      color: $picnic-dull;
      text-align: right;
    }

    & > header {
      height: 30vh;
      background-color: $picnic-dull;
    }

    & > footer {
      padding: 1em;

      display: flex;
      flex-flow: row;
      align-items: flex-start;
      gap: 1em;

      @media screen and (max-width: 800px) {
        flex-flow: column;
      }

      aside {
        position: relative;
        top: -15vh;
        padding: 0.5em;

        display: flex;
        flex-flow: column;

        @media screen and (max-width: 800px) {
          top: -5vh;
          width: 100%;
          flex-flow: row wrap;
          gap: 1em;
        }

        .profile__img {
          min-width: 10em;
          min-height: 10em;
        }

        .profile__name {
          white-space: nowrap;
          font-size: max(1vw, 24pt);

          @media screen and (max-width: 800px) {
            padding-top: 5vh;
          }
        }

        & > ul {
          padding: 0;
          margin: 0;
          gap: 1em;
          display: flex;
          flex-flow: column;

          @media screen and (max-width: 800px) {
            width: 100%;
            flex-flow: row;
            li {
              border-bottom: none;
            }
          }

          li {
            width: 100%;
            list-style: none;

            &:not(&:last-of-type) {
              padding-bottom: 1em;
              border-color: transparent;
            }

            p {
              margin: 0;
            }

            h3 {
              padding: 0 0 0.5em 0;
            }
          }
        }
      }

      article {
        width: 100%;

        .thread {
          background-color: $picnic-white;
          position: relative;
          top: -5vh;
          padding: 1em;
          border: $picnic-border;
          border-radius: 0.2em;

          .body {
            padding-bottom: 0.5em;
            .pre {
              white-space: pre-wrap;
            }
            textarea {
              resize: vertical;
            }
          }

          .func {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 0.5em;
          }
        }

        .panel-func {
          border-top: $picnic-border;
          padding: 0.5em 0;
          align-items: stretch;
          justify-content: space-between;
          gap: 0.5em;

          label {
            line-height: 0;
          }

          textarea {
            width: 100%;
            resize: vertical;
          }

          button {
            padding: 0.3em 0;
            margin: 0;

            max-height: 4em;
          }

          @media screen and (min-width: 600px) {
            gap: 0;
            label {
              padding-right: 1em;
            }

            button {
              width: 2em;
              padding: 0.1em 0;
            }
          }
        }

        ul.comments {
          padding: 0;
          margin: 0;
          gap: 1em;

          .comment {
            position: relative;
            width: 100%;
            padding: 1em;
            list-style: none;
            border: $picnic-border;
            border-radius: 0.2em;

            background-color: $picnic-white;

            &__profile {
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              gap: 1ex;

              &__img {
                display: block;
                min-width: 2em;
                min-height: 2em;
                width: 2em;
                height: 2em;
                background-size: cover;
                background-position: center center;
                border-radius: 100%;
                border: $picnic-border;
              }

              &__info {
                white-space: nowrap;
              }

              .created-at {
                margin-left: auto;
              }
            }

            &__body {
              padding-bottom: 1em;
              white-space: pre-wrap;
            }
          }
        }
      }
    }
  }
}
