{% extends "community/base.html" %}

{% set tpl__meta_title = "{} - 프로필 목록".format(community.name) %}
{% set tpl__meta_description = "{} 에 소속된 구성원들의 프로필 목록입니다.".format(community.name) %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{% static "css/community/profile_list.css" %}"/>
{% endblock %}
{% block content %}
    <section>
        <form method="GET">
            <fieldset>
                <label><input name="q" type="text" placeholder="검색어 입력(ex: 이름, 직군)"
                              value="{{ request.GET.get("q", "") }}"/></label>
                <label>
                    <button type="submit">검색</button>
                </label>
            </fieldset>
        </form>
    </section>
    <section>
        <ul>
            {% for profile in profiles %}
                <li>
                    <article class="card profile-card">
                        <a href="{{ url("comm_profile", kwargs={"community_id": community.id, "profile_id": profile.id}) }}"
                           class="full-cover dimm">
                            <div class="arrow"><i class="fa-solid fa-caret-right"></i></div>
                        </a>
                        <header>
                            <a class="profile-img tooltip-top" href="{{ profile.profile_img_url }}"
                               target="_blank"
                               data-tooltip="원본보기"
                               style="background-image: url('{{ profile.profile_img_url }}')"></a>
                            <div>
                                <h3>{{ profile.full_name }}</h3>
                                <div class="thread">{{ profile.thread.body|truncate(40) }}</div>
                            </div>
                        </header>
                        <footer>
                            <table class="dull">
                                <colgroup>
                                    <col width="100px"/>
                                </colgroup>
                                <tr>
                                    <th>소속</th>
                                    <td>{{ profile.org_name }}</td>
                                </tr>
                                <tr>
                                    <th>직함</th>
                                    <td>{{ profile.job_title }}</td>
                                </tr>
                                <tr>
                                    <th>휴대폰</th>
                                    <td>{{ profile.phone_number }}</td>
                                </tr>
                                <tr>
                                    <th>이메일</th>
                                    <td>{{ profile.email }}</td>
                                </tr>
                            </table>
                        </footer>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
